* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-size: 12px;
    border-radius: 0px;
}

:focus {
    outline: none;
}

button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #d7f2f7;
    border: solid 2px #d7f2f7;
    background-color: #354d62;
    border-radius: 3px;
    transition: .4s;
}

button:hover {
    color: #59748C;
    border: solid 2px #59748C;
    background-color: #d7f2f7;
}

header#header {
    width: 100vw;
    height: 25vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#icon {
    width: 32vmin;
    height: 18vmin;
    margin: 3vmin 0;
    background-image: url('/images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

label#add-todo {
    width: 100vw;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#todo-input {
    font-size: 18px;
    padding: 4px;
    margin: 10px;
    border: 0;
    border-bottom: 1px solid #59748C;
    background-color: transparent;
    color: #d7f2f7;
    transition: border-bottom .3s ease;
}

input#todo-input:focus {
    border-bottom: 1px solid #d7f2f7;
}

input#todo-input::placeholder {
    color: #59748C;
}

button#add-button {
    padding: 4px;
}

todo-list {
    width: 100vw;
    height: calc(100vh - 35vmin);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
}

todo-list-item {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

label.todo-content {
    display: flex;
    align-items: center;
}

div.todo-checkbox {
    position: absolute;
    cursor: pointer;
    background-size: contain;
    width: 18px;
    height: 18px;
    transition: background-image 0.4s ease;
}

div.todo-checkbox[checked=false] {
    background-image: url('/images/checkbox.png');
}

div.todo-checkbox[checked=true] {
    background-image: url('/images/checkbox-checked.png');
}

div.todo-text {
    margin-left: 24px;
    transition: color 0.4s ease;
}

div.todo-checkbox[checked=true]+div.todo-text {
    color: #59748C;
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    button#add-button {
        width: 10vw;
    }
    input#todo-input {
        width: 80vw;
    }
    todo-list-item {
        width: 80vw;
    }
}

@media screen and (min-width: 600px) {
    button#add-button {
        width: 60px;
    }
    input#todo-input {
        width: 480px;
    }
    todo-list-item {
        width: 480px;
    }
}