* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-size: 12px;
    border-radius: 0px;
}

:focus {
    outline: none;
}

html,
body {
    background: #354d62;
    color: #d7f2f7;
}

button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #d7f2f7;
    border: solid 2px #d7f2f7;
    background-color: #354d62;
    border-radius: 3px;
    transition: .4s;
}

button:hover {
    color: #59748C;
    border: solid 2px #59748C;
    background-color: #d7f2f7;
}

header#header {
    width: 100vw;
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#icon {
    width: 30vmin;
    height: 30vmin;
    background-image: url('/images/icons/icon-512x512.png');
    background-size: contain;
    background-repeat: no-repeat;
}

label#add-todo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

input#todo-input {
    font-size: 18px;
    padding: 4px;
    margin: 10px;
    border: 0;
    border-bottom: 1px solid #59748C;
    background-color: transparent;
    color: #d7f2f7;
    transition: border-bottom .3s ease;
}

input#todo-input:focus {
    border-bottom: 1px solid #d7f2f7;
}

input#todo-input::placeholder {
    color: #59748C;
}

button#add-button {
    padding: 4px;
}

ul#todo-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

li.todo-list-item {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

label.todo-content {
    display: flex;
    align-items: center;
}

div.todo-text {
    margin-left: 5px;
    transition: all 0.4s ease;
}

input.todo-checkbox {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

input.todo-checkbox:before {
    position: absolute;
    z-index: 1;
    top: 0.125rem;
    left: 0.1875rem;
    width: 0.75rem;
    height: 0.375rem;
    content: '';
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    border: 2px solid #d7f2f7;
    border-top-style: none;
    border-right-style: none;
}

input.todo-checkbox:checked:before {
    -webkit-transform: rotate(-45deg) scale(0.8, 0.8);
    transform: rotate(-45deg) scale(0.8, 0.8);
}

input.todo-checkbox:after {
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    content: '';
    cursor: pointer;
    border: 2px solid #d7f2f7;
    border-radius: 2px;
    background: #354d62;
}

input.todo-checkbox:checked+div.todo-text {
    color: #59748C;
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    button#add-button {
        width: 10vw;
    }
    input#todo-input {
        width: 80vw;
    }
    li.todo-list-item {
        width: 80vw;
    }
}

@media screen and (min-width: 600px) {
    button#add-button {
        width: 60px;
    }
    input#todo-input {
        width: 480px;
    }
    li.todo-list-item {
        width: 480px;
    }
}